.hero-content {
  padding-top: 2%;
  content: '';
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 300px;
  display: block;
  position: absolute;
}


.hero-overlay {
  margin-top: -64px;
}

.hero-overlay:after {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 300px;
  display: block;
  position: absolute;
  background: #000022;
  opacity: 0.5;
}
