<div class="hero-overlay">
  <mz-parallax [height]="300">
    <img src="assets/bg/my-profile.jpg">
  </mz-parallax>
</div>
<div class="container section">
  <div class="col s12 crimson-black-text">
    <a routerLink="/" class="breadcrumb">Home</a>
    <a routerLink="/my-profile" class="breadcrumb">My Profile</a>
  </div>
</div>
<div class="container section">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row no-margin-bot">
      <div class="col s12">
        <h5>Personal information</h5>
        <div class="row">
          <mz-input-container class="col s12">
            <input mz-input mz-validation required
                   id="input-username"
                   formControlName="username"
                   type="text"
                   [errorMessageResource]="errorMessages.username"
                   [label]="'Username'"/>
          </mz-input-container>
          <mz-input-container class="col s12">
            <input mz-input mz-validation required
                   id="input-name"
                   formControlName="name"
                   type="text"
                   [errorMessageResource]="errorMessages.name"
                   [label]="'Name'"/>
          </mz-input-container>
          <mz-datepicker-container class="col s6">
            <input mz-datepicker
                   [label]="'Date of Birth'"
                   [options]="options"
                   formControlName="birthdate"
                   id="datepicker-birthday"
                   placeholder="Select your birth date"
                   type="text">
          </mz-datepicker-container>
          <div class="row">
            <div class="col s2">
              <labeL>Gender</labeL>
              <mz-radio-button-container>
                <input mz-radio-button
                       checked="true"
                       [label]="'Male'"
                       [withGap]="true"
                       id="radio-gender-male"
                       formControlName="gender"
                       value="M"
                       type="radio">
              </mz-radio-button-container>
            </div>
            <div class="col s2">
              <labeL> </labeL>
              <mz-radio-button-container>
                <input mz-radio-button
                       [label]="'Female'"
                       [withGap]="true"
                       id="radio-gender-female"
                       formControlName="gender"
                       value="F"
                       type="radio">
              </mz-radio-button-container>
            </div>
          </div>
          <mz-input-container class="col s6">
            <input mz-input mz-validation required
                   id="input-email"
                   formControlName="email"
                   type="text"
                   [errorMessageResource]="errorMessages.email"
                   [label]="'E-mail'"/>
          </mz-input-container>
          <mz-input-container class="col s6">
            <input mz-input mz-validation required
                   id="input-contactNum"
                   formControlName="contactNumber"
                   type="text"
                   [errorMessageResource]="errorMessages.contactNumber"
                   [label]="'Contact Number'"/>
          </mz-input-container>
          <mz-textarea-container class="col s12">
                <textarea mz-textarea mz-validation required
                          id="textarea-address"
                          formControlName="address"
                          [label]="'Address'"
                          [minlength]="10"
                          [maxlength]="255"
                          [errorMessageResource]="errorMessages.address"
                          [length]="255">
                </textarea>
          </mz-textarea-container>
          <mz-input-container class="col s12">
            <input mz-input mz-validation required
                   id="input-password"
                   formControlName="password"
                   type="password"
                   [errorMessageResource]="errorMessages.password"
                   [label]="'Password'"/>
          </mz-input-container>
          <mz-input-container class="col s12">
            <input mz-input mz-validation required
                   id="input-confirmPassword"
                   formControlName="confirmPassword"
                   type="password"
                   [errorMessageResource]="errorMessages.confirmPassword"
                   [label]="'Confirm Password'"/>
          </mz-input-container>
          <div class="divider"></div>
          <div class="right-align" style="padding: 0.75rem">
            <button mz-button type="button" (click)="editForm()" [disabled]="userForm.enabled" class="crimson" style="margin-right: 10px">Edit</button>
            <button mz-button [disabled]="!userForm.valid" class="crimson" style="margin-right: 10px" type="submit">
              Submit
            </button>
            <button mz-button type="button" (click)="clearForm()" class="crimson" [disabled]="userForm.disabled">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
