.bg-signup{
  background: url("/assets/bg/signup-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.bg-signup:after {
  content: '';
  top: 0;
  left: 0;
  z-index: -4;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: #000022;
  opacity: 0.5;
}

.signup-form{
  width: 50%!important;
  margin-top: 2%;
}
