<div class="navbar-fixed">
  <nav class="crimson z-depth-1" id="admin-nav">
    <div class="nav-wrapper admin-container">
      <a routerLink="/admin/manage/" class="brand-logo">In N Out - Admin Dashboard</a>
      <ul class="right hide-on-med-and-down">
        <li id="dashboard"><a routerLink="/admin/manage/">Dashboard</a></li>
        <li id="inventory"><a routerLink="/admin/manage/inventory">Inventory</a></li>
        <li id="supplier"><a routerLink="/admin/manage/supplier">Supplier</a></li>
        <li><span class="nav-divider">|</span></li>
        <li><a id="btn-dropdown-admin">{{user ? user.username: ''}}</a></li>
      </ul>
    </div>
  </nav>
</div>
<mz-dropdown *ngIf="user"
             [id]="'dropdown-admin'"
             [align]="'left'"
             [belowOrigin]="true"
             [constrainWidth]="false"
             [dropdownButtonId]="'btn-dropdown-admin'"
             [gutter]="true"
             [hover]="false"
             [inDuration]="300"
             [outDuration]="300"
             [stopPropagation]="true">
  <mz-dropdown-item><a (click)="signOut()">Log Out</a></mz-dropdown-item>
</mz-dropdown>

<router-outlet></router-outlet>
