<div class="section no-pad-bot hero-content">
  <div class="container center">
    <div class="profile white-text" *ngIf="user">
      <h1><span *ngIf="user.loyaltyCard.loadPoints!=0">¥ {{user.loyaltyCard.loadPoints}}</span>
        <span *ngIf="user.loyaltyCard.loadPoints==0">You don't have load points
          <i class="hover" mz-icon-mdi
             [align]="'center'"
             [icon]="'information-outline'"
             [size]="'48px'"
             mz-tooltip
             [tooltip]="'You won\'t be able to use your wallet in checkout.'"
             [position]="'bottom'"
             [html]="true"
             [delay]="200"></i></span>
      </h1>
      <h5>Loyalty PTS: ¥ <span>{{user.loyaltyCard.loyaltyPoints}}</span></h5>
      <a mz-button class="crimson btn modal-trigger" href="#loadModal" [large]="true">
        <i mz-icon-mdi
           [align]="'left'"
           [icon]="'wallet'"></i>
        LOAD WALLET
      </a>
    </div>
  </div>
</div>
<div class="hero-overlay">
  <mz-parallax [height]="300">
    <img src="assets/bg/delivery-background.jpg">
  </mz-parallax>
</div>
<div class="container section">
  <div class="col s12 crimson-black-text">
    <a routerLink="/" class="breadcrumb">Home</a>
    <a routerLink="/shop" class="breadcrumb">Shop</a>
  </div>
  <div class="row">
    <div class="col s12">
      <form [formGroup]="searchForm" novalidate>
      <mz-input-container>
        <i mz-icon-mdi mz-input-prefix
           [icon]="'magnify'">
        </i>
        <input mz-input mz-validation
               [placeholder]="'Search'"  [(ngModel)]="keyword" formControlName="search"
               name="keyword" [errorMessageResource] = "errorMessage.search"
               id="caseName" type="text" (keyup)="searchProductOnKeyPress()" >
      </mz-input-container>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col s10">
      <div class="col s4" *ngFor="let inventory of inventories">
        <div class="promo card">
          <div class="card-image">
            <img class="promo-img" src="assets/product/{{inventory.product.img_url}}">
            <span class="card-title bold-text">{{inventory.product.name}}</span>
            <div *ngIf="user">
              <a class="btn-floating halfway-fab waves-effect waves-light crimson" (click)="addToCart(inventory.product)">
                <i mz-icon-mdi [icon]="'plus'"></i></a>
            </div>
          </div>
          <div class="card-content">
            <span class="card-title crimson-text bold-text">¥ {{inventory.product.price}}</span>
            <p class="food-desc">{{inventory.product.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col s2">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Category</span>
          <ul class="category">
            <li *ngFor="let category of categories;">
              <a mz-button (click)="setCategory(category)" id="category-{{category}}">
                {{category}}
              </a>
            </li>
            <li>
              <a mz-button [flat]="true" (click)="reset()" class="center-align">RESET</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="loadModal" class="modal load-modal">
  <div class="modal-content">
    <app-load-wallet></app-load-wallet>
  </div>
</div>



<div id="sendEmailModal" class="modal">
  <form [formGroup]="sendEmailForm" (ngSubmit)="sendEmail()" novalidate>
    <div class="modal-content">
      <div class="row">
        <div class="col s6">
          <h5>Hi there! Craving for some food?", "Refer a friend and earn load points!</h5>
        </div>
        <div class="col s6 right-align">
          <a class="modal-close crimson-black-text">
            <i mz-icon-mdi
               [align]="'center'"
               [icon]="'close'"
               [size]="'24px'"></i>
          </a>
        </div>
      </div>
      <div class="row no-margin-bot">
        <mz-input-container class="col s12">
          <input mz-input mz-validation required
                 id="input-emailAdd"
                 formControlName="emailAdd"
                 type="text"
                 [label]="'Email Address'"/>
        </mz-input-container>
        <div class="col s12">
          <button style="width: 100%" class="crimson" type="submit" [disabled]="!sendEmailForm.valid" mz-button>Send</button>
        </div>
      </div>
    </div>
  </form>
</div>
