<div class="admin-container section">
  <a mz-button class="waves-effect waves-light crimson right-align" (click)="openAddModal()">
    <i mz-icon-mdi
       [align]="'left'"
       [icon]="'plus'"
       [size]="'24px'"></i>
    ADD
  </a>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="highlight responsive-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Categories</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let inventory of inventories">
      <td>{{inventory.product.id}}</td>
      <td><img width="100px" height="100px" src="assets/product/{{inventory.product.img_url}}"></td>
      <td width="150px">{{inventory.product.name}}</td>
      <td>{{inventory.quantity}}</td>
      <td>{{inventory.product.description}}</td>
      <td>{{inventory.product.categories}}</td>
      <td>¥{{inventory.product.price}}</td>
      <td width="100px">
        <a mz-button class="cart-item-btn crimson-black-text" (click)="edit(inventory)"
           [flat]="true">
          <i mz-icon-mdi
             [align]="'center'"
             [icon]="'pencil'"
             [size]="'24px'"></i>
        </a>
        <a mz-button class="cart-item-btn  crimson-black-text" (click)="delete(inventory)"
           [flat]="true">
          <i mz-icon-mdi
             [align]="'center'"
             [icon]="'delete'"
             [size]="'24px'"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!--EDIT INVENTORY MODAL-->
<div id="inventoryModal" class="modal">
  <form [formGroup]="inventoryForm" (ngSubmit)="editInventory()" novalidate>
    <div class="modal-content">
      <div class="row">
        <div class="col s6">
          <h4>Edit Inventory</h4>
        </div>
        <div class="col s6 right-align">
          <a class="modal-close crimson-black-text" (click)="resetForm()">
            <i mz-icon-mdi
               [align]="'center'"
               [icon]="'close'"
               [size]="'24px'"></i>
          </a>
        </div>
      </div>
      <div class="row no-margin-bot">
        <mz-input-container class="col s12">
          <input mz-input mz-validation required
                 id="input-productName"
                 formControlName="name"
                 type="text"
                 [label]="'Product Name'"/>
        </mz-input-container>
        <mz-input-container class="col s12">
        <textarea mz-textarea mz-validation required
                  [label]="'Product Description'"
                  id="textarea-productDescription"
                  formControlName="description"
                  [length]="1000"
                  [minlength]="20"
                  [maxlength]="1000"></textarea>
        </mz-input-container>
        <mz-input-container class="col s12">
          <input mz-input mz-validation required
                 id="input-productQty"
                 formControlName="quantity"
                 type="text"
                 [label]="'Qty'"/>
        </mz-input-container>
        <mz-input-container class="col s12">
          <input mz-input mz-validation required
                 id="input-productCategory"
                 formControlName="category"
                 type="text"
                 [label]="'Category'"/>
        </mz-input-container>
        <mz-input-container class="col s12">
          <input mz-input mz-validation required
                 id="input-productPrice"
                 formControlName="price"
                 type="text"
                 [label]="'Price'"/>
        </mz-input-container>
        <mz-select-container class="col s12 m6">
          <select mz-select mz-validation required
                  id="select-supplier"
                  formControlName="supplierDropdown"
                  [label]="'Supplier'"
                  [placeholder]="'Choose product supplier'">
            <option *ngFor="let supplier of suppliers" [ngValue]="supplier.id">{{
              supplier.supplierName}}
            </option>
          </select>
        </mz-select-container>
        <div class="col s12">
          <button style="width: 100%" class="crimson" type="submit" [disabled]="!inventoryForm.valid" mz-button>UPDATE
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!--ADD INVENTORY MODAL-->
<div id="addInventoryModal" class="modal">
  <form [formGroup]="addInventoryForm" (ngSubmit)="addInventory()" novalidate>
    <div class="modal-content">
      <div class="row">
        <div class="col s6">
          <h4>Add Item to Inventory</h4>
        </div>
        <div class="col s6 right-align">
          <a class="modal-close crimson-black-text" (click)="resetForm()">
            <i mz-icon-mdi
               [align]="'center'"
               [icon]="'close'"
               [size]="'24px'"></i>
          </a>
        </div>
      </div>
      <div class="row no-margin-bot">
        <div class="center">
          <img width="250" height="250" [src]="image">
        </div>
        <mz-input-container class="col s12">
          <input mz-input mz-validation
                 (change)="upload($event)"
                 formControlName="addImage"
                 id="input-addImage"
                 accept="image/png, image/jpeg"
                 type="file"/>
        </mz-input-container>
        <mz-input-container class="col s12">
          <input mz-input mz-validation required
                 id="input-addproductName"
                 formControlName="addname"
                 type="text"
                 [label]="'Product Name'"/>
        </mz-input-container>
        <mz-input-container class="col s12">
        <textarea mz-textarea mz-validation required
                  [label]="'Product Description'"
                  id="textarea-addproductDescription"
                  formControlName="adddescription"
                  [length]="1000"
                  [minlength]="20"
                  [maxlength]="1000"></textarea>
        </mz-input-container>
        <mz-input-container class="col s12">
          <input mz-input mz-validation required
                 id="input-addproductQty"
                 formControlName="addquantity"
                 type="text"
                 [label]="'Qty'"/>
        </mz-input-container>
        <mz-input-container class="col s12">
          <input mz-input mz-validation required
                 id="input-addproductCategory"
                 formControlName="addcategory"
                 type="text"
                 [label]="'Category'"/>
        </mz-input-container>
        <mz-input-container class="col s12">
          <input mz-input mz-validation required
                 id="input-addproductPrice"
                 formControlName="addprice"
                 type="text"
                 [label]="'Price'"/>
        </mz-input-container>
        <mz-select-container class="col s12">
          <select mz-select mz-validation required
                  id="select-addSupplier"
                  formControlName="addSupplierDropdown"
                  [label]="'Supplier'"
                  [placeholder]="'Choose product supplier'">
            <option *ngFor="let supplier of suppliers" [ngValue]="supplier">{{
              supplier.supplierName}}
            </option>
          </select>
        </mz-select-container>
        <div class="col s12">
          <button style="width: 100%" class="crimson" type="submit" [disabled]="!addInventoryForm.valid" mz-button>ADD PRODUCT
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

