<div class="admin-container" style="margin-top: 2%">
  <div class="row">
    <div class="col s6">
      <div class="card small-chart">
        <div class="card-content">
          <span class="card-title">Pending Orders</span>
          <div class="feedback-scroll">
            <app-admin-order></app-admin-order>
          </div>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="card small-chart">
        <div class="card-content">
          <span class="card-title">User Feedbacks</span>
          <div class="feedback-scroll">
            <app-admin-feedback></app-admin-feedback>
          </div>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="card small-chart">
        <div class="card-content">
          <span class="card-title">Popularity of Products</span>
          <iframe width="100%" height="400"
                  src="https://app.powerbi.com/view?r=eyJrIjoiYzBlOTlmM2UtYWM4YS00M2IxLWIyMGUtNmVkYjE
              wYjYxOGNjIiwidCI6Ijc4NTFiNGNjLTJjNWMtNDU5Zi05NmQ5LTE2NzMxZDZiNGNhNCIsImMiOjEwfQ%3D%3D"
                  frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="card small-chart">
        <div class="card-content">
          <span class="card-title">Rating</span>
          <iframe width="100%" height="400" src="https://app.powerbi.com/view?r=eyJrIjoiMGM1ZjhhYTYtOTc2ZC0
          0OTJjLTlmNDYtNWVmMzQzMTcwMDk0IiwidCI6Ijc4NTFiNGNjLTJjNWMtNDU5Zi05NmQ5LTE2NzMxZDZiNGNhNCIsI
          mMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Statistic</span>
          <iframe width="100%" height="900" src="https://app.powerbi.com/view?r=eyJrIjoiNjU1Y2ViNTAtNGM3NS00YTA3LWI3Y
          jEtMGE5YzVmODZiYzlkIiwidCI6Ijc4NTFiNGNjLTJjNWMtNDU5Zi05NmQ5LTE2NzMxZDZiNGNhNCIsImMiOjEwfQ
          %3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
