<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="highlight responsive-table" >
  <thead>
  <tr>
    <th>Name</th>
    <th>Subject</th>
    <th>Message</th>
    <th>Rating</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody class="feedback-table">
  <tr *ngFor="let feedbackItem of feedbackList">
    <td width="200px">{{feedbackItem.user.name}}</td>
    <td>{{feedbackItem.subject}}</td>
    <td>{{feedbackItem.message}}</td>
    <td>
      <div class="star-container">
        <ngx-stars [readonly]="true" [initialStars]=feedbackItem.stars [size]="1"></ngx-stars>
      </div>
    </td>
    <td width="180px">{{feedbackItem.date}}</td>
  </tr>
  </tbody>
</table>
