<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="modal-content">
    <div class="row">
      <div class="col s6">
        <h4>Sign In</h4>
      </div>
      <div class="col s6 right-align">
        <a class="modal-close crimson-black-text" (click)="resetForm()">
          <i mz-icon-mdi
             [align]="'center'"
             [icon]="'close'"
             [size]="'24px'"></i>
        </a>
      </div>
    </div>
    <div class="row no-margin-bot">
      <mz-input-container class="col s12">
        <input mz-input mz-validation required
               id="input-usernameOrEmail"
               formControlName="username"
               type="text"
               [errorMessageResource]="errorMessageResources.username"
               [label]="'Username or E-mail'"/>
      </mz-input-container>
      <mz-input-container class="col s12">
        <input mz-input mz-validation required
               id="input-passwordLogin"
               formControlName="password"
               type="password"
               [errorMessageResource]="errorMessageResources.password"
               [label]="'Password'"/>
      </mz-input-container>
     <div class="col s12">
       <button style="width: 100%" class="crimson" type="submit" [disabled]="!userForm.valid" mz-button>SIGN IN</button>
     </div>
    </div>
  </div>
</form>
