
.hero-content {
  padding-top: 10%;
  content: '';
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 650px;
  display: block;
  position: absolute;
}

.btn-large {
  height: 64px;
}

.hero-overlay {
  margin-top: -64px;
}

.hero-overlay:after {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 650px;
  display: block;
  position: absolute;
  background: #000022;
  opacity: 0.5;
}

.hero-content .header {
  font-weight: bold;
}

.hero-content .btn-large {
  margin: 25px;
}

.social{
  z-index: 1;
  margin-top: -85px;
  position: relative;
}


.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #b71c1c;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #f44336;
}

.promo{
  height: 400px;
}

.promo-img{
  height: 200px;
}

.food-desc{
  font-size: 12px;
}
