<div class="section no-pad-bot hero-content">
  <div class="container center">
    <h1 class="header white-text">{{greetings}}</h1>
    <h5 class="white-text">{{tagLine}}</h5>
    <div>
      <a mz-button (click)="classifyUser()" routerLink="/shop" class="crimson" [large]="'true'">
        <span><i mz-icon-mdi
                 [align]="'left'"
                 [icon]="'food-variant'"></i>ORDER ONLINE</span>
      </a>
    </div>
  </div>
</div>
<div class="hero-overlay">
  <mz-parallax [height]="650">
    <img src="assets/bg/home-background.jpg">
  </mz-parallax>
</div>
<div class="container social white-text">
  <div class="row center-align" style="line-height: 85px">
    <div class="col s3">
      <span><i mz-icon-mdi
               [align]="'left'"
               [icon]="'calendar-clock'"
               [size]="'36px'">
        </i>Mon to Sat 8:00 AM - 10:00 PM</span>
    </div>
    <div class="col s3">
        <span><i mz-icon-mdi
                 [align]="'left'"
                 [icon]="'phone-in-talk'"
                 [size]="'36px'">
        </i>(+63) 926-627- 7225</span>
    </div>
    <div class="col s3">
        <span><i mz-icon-mdi
                 [align]="'left'"
                 [icon]="'email'"
                 [size]="'36px'">
        </i>innout.delivery@gmail.com</span>
    </div>
    <div class="col s3 ">
      <i mz-icon-mdi
         [align]="'left'"
         [icon]="'facebook-box'"
         [size]="'36px'">
      </i>
      <i mz-icon-mdi
         [align]="'left'"
         [icon]="'instagram'"
         [size]="'36px'">
      </i>
      <i mz-icon-mdi
         [align]="'left'"
         [icon]="'twitter-box'"
         [size]="'36px'">
      </i>
      <i mz-icon-mdi
         [align]="'left'"
         [icon]="'wechat'"
         [size]="'36px'">
      </i>
      <span>Follow us</span>
    </div>
  </div>
</div>
<div class="section container" id="recommended">
  <h2 class="center">Recommended</h2>
  <div class="row">
    <div class="col s3" *ngFor="let product of topProducts">
      <div class="promo card">
        <div class="card-image">
          <img class="promo-img" src="assets/product/{{product.img_url}}">
          <span class="card-title bold-text">{{product.name}}</span>
        </div>
        <div class="card-content">
          <span class="card-title crimson-text bold-text">¥ {{product.price}}</span>
          <p class="food-desc">{{product.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section container" id="new">
  <h2 class="center">What's New</h2>
  <div class="row">
    <div class="col s3" *ngFor="let inventory of latestInventory">
      <div class="promo card">
        <div class="card-image">
          <img class="promo-img" src="assets/product/{{inventory.product.img_url}}">
          <span class="card-title bold-text">{{inventory.product.name}}</span>
        </div>
        <div class="card-content">
          <span class="card-title crimson-text bold-text">¥ {{inventory.product.price}}</span>
          <p class="food-desc">{{inventory.product.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="page-footer grey lighten-5">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="crimson-text">In N Out</h5>
        <p class="black-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in fringilla
          neque. Morbi dignissim felis non nisi
          semper posuere. Donec porttitor, diam vel sagittis hendrerit, turpis ex ultrices nisi, vel pharetra enim
          libero
          eu turpis.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="crimson-text">Links</h5>
        <ul>
          <li><a class="black-text text-lighten-3" [ngx-scroll-to]="'#welcome'">Welcome</a></li>
          <li><a class="black-text text-lighten-3" [ngx-scroll-to]="'#recommended'" [ngx-scroll-to-offset]="-50">Recommended</a>
          </li>
          <li><a class="black-text text-lighten-3" [ngx-scroll-to]="'#new'" [ngx-scroll-to-offset]="-50">What's New</a>
          </li>
          <li><a class="black-text text-lighten-3" [ngx-scroll-to]="'#about'" [ngx-scroll-to-offset]="-50">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span class="black-text">© 2018 RMIS - Group 1</span>
    </div>
  </div>
</footer>
