<form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="modal-content">
    <div class="row">
      <div class="col s8">
        <h6>Give your experience a feedback.</h6>
      </div>
      <div class="col s4 right-align">
        <a class="modal-close crimson-black-text" (click)="skip()">
          <i mz-icon-mdi
             [align]="'center'"
             [icon]="'close'"
             [size]="'24px'"></i>
        </a>
      </div>
    </div>
    <div class="row no-margin-bot">
      <div class="star-container">
        <ngx-stars [initialStars]="1" (ratingOutput)="onRatingSet($event)" [size]="3"></ngx-stars>
      </div>
      <div style="margin-top: 5rem">
        <mz-input-container class="col s12">
          <i mz-icon-mdi mz-input-prefix
             [icon]="'email'">
          </i>
          <input mz-input mz-validation required
                 type="text"
                 id="input-subject"
                 formControlName="subject"
                 [label]="'Subject'"
                 [length]="50"
                 [errorMessageResource]="errorMessages.subject"
                 [minlength]="5"
                 [maxlength]="50"/>
        </mz-input-container>
        <mz-textarea-container class="col s12">
          <i mz-icon-mdi mz-textarea-prefix
             [icon]="'message-text'">
          </i>
          <textarea mz-textarea mz-validation required
                    [label]="'Message'"
                    id="textarea-message"
                    formControlName="messageContent"
                    [errorMessageResource]="errorMessages.messageContent"
                    [length]="255"
                    [minlength]="10"
                    [maxlength]="255"></textarea>
        </mz-textarea-container>
      </div>
      <div class="col s12" style="margin-top: 1.25rem">
        <button style="width: 100%" class="crimson" type="submit" mz-button>SUBMIT</button>
        <button style="width: 100%; margin-top: .5rem" class="modal-close" (click)="skip()" [flat]="true"
                type="button" mz-button>SKIP
        </button>
      </div>
    </div>
  </div>
</form>
