<div class="modal-content">
  <div class="row">
    <div class="col s6">
      <h4>Cart</h4>
    </div>
    <div class="col s6 right-align">
      <a class="modal-close crimson-black-text">
        <i mz-icon-mdi
           [align]="'center'"
           [icon]="'close'"
           [size]="'24px'"></i>
      </a>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row no-margin-bot cart-header">
    <div class="col s6">
      <h6>Product</h6>
    </div>
    <div class="col s2">
      <h6>Sub Total</h6>
    </div>
    <div class="col s4 center-align">
      <h6>Quantity</h6>
    </div>
  </div>
  <ul class="collection">
    <div class="cart-scroll">
      <h6 class="center-align grey-text" *ngIf="cart.cartItems.length==0">You have no item in your cart</h6>
      <li class="collection-item avatar" *ngFor="let cartItem of cart.cartItems">
        <div class="row no-margin-bot">
          <div class="col s6">
            <img src="assets/product/{{cartItem.product.img_url}}" class="cart-img">
            <span class="title crimson-text">{{cartItem.product.name}}</span>
            <p class="cart-item-desc">
              {{cartItem.product.description}}
            </p>
          </div>
          <div class="col s2">
            <span class="title crimson-text cart-subtotal">¥ {{cartItem.subtotalPrice}}</span>
          </div>
          <div class="col s4 right-align cart-options">
            <button mz-button type="button" class="cart-item-btn" (click)="incrementQTY(cartItem)" [flat]="true">
              <i mz-icon-mdi
                 [align]="'center'"
                 [icon]="'plus'"
                 [size]="'24px'"></i>
            </button>
            <span class="cart-item-count">{{cartItem.quantity}}</span>
            <button mz-button type="button" class="cart-item-btn" (click)="decrementQTY(cartItem)" [flat]="true">
              <i mz-icon-mdi
                 [align]="'center'"
                 [icon]="'minus'"
                 [size]="'24px'"></i>
            </button>
            <button mz-button type="button" class="cart-item-btn crimson white-text" (click)="removeProduct(cartItem)"
                    style="margin-left: 25px;" [flat]="true">
              <i mz-icon-mdi
                 [align]="'center'"
                 [icon]="'delete'"
                 [size]="'24px'"></i>
            </button>
          </div>
        </div>
      </li>
    </div>
  </ul>
  <div *ngIf="cart.cartItems.length!=0" class="row">
    <div class="col s5">
      <h5 class="crimson-text">Total: </h5>
    </div>
    <div class="col s3">
      <h5 class="crimson-text right-align">¥ {{cart.totalPrice}}</h5>
    </div>
    <div class="col s4">
      <h5 class="crimson-text center-align" style="margin-right: 50px">{{cart.totalQTY}}</h5>
    </div>
  </div>
  <div class="right-align">
    <button mz-button class="cart-item-btn crimson-text modal-close" [flat]="true" style="margin-right: 25px">
      CONTINUE SHOPPING
    </button>
    <button *ngIf="cart.cartItems.length!=0" routerLink="/checkout" mz-button class="cart-item-btn crimson modal-close">
      CHECK OUT
    </button>
  </div>
</div>
