<div class="admin-container section">
  <a mz-button  class="waves-effect waves-light crimson right-align" (click)="openAddModal()">
    <i mz-icon-mdi
       [align]="'left'"
       [icon]="'plus'"
       [size]="'24px'"></i>
    ADD
  </a>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="highlight responsive-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Contact #</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let supplier of supplierList">
      <td>{{supplier.id}}</td>
      <td width="150px">{{supplier.supplierName}}</td>
      <td>{{supplier.address}}</td>
      <td>{{supplier.contactNumber}}</td>
      <td width="100px" >
        <a mz-button  class="cart-item-btn crimson-black-text" (click)="openEditModal(supplier)"
           [flat]="true">
          <i mz-icon-mdi
             [align]="'center'"
             [icon]="'pencil'"
             [size]="'24px'"></i>
        </a>
        <a mz-button class="cart-item-btn  crimson-black-text" (click)="delete(supplier)"
           [flat]="true">
          <i mz-icon-mdi
             [align]="'center'"
             [icon]="'delete'"
             [size]="'24px'"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div id="addSupplierModal" class="modal">
  <form [formGroup]="addSupplierForm" (ngSubmit)="addSupplier()" novalidate>
    <div class="modal-content">
      <div class="row">
        <div class="col s6">
          <h4>Add Supplier</h4>
        </div>
        <div class="col s6 right-align">
          <a class="modal-close crimson-black-text" (click)="resetForm()">
            <i mz-icon-mdi
               [align]="'center'"
               [icon]="'close'"
               [size]="'24px'"></i>
          </a>
        </div>
      </div>
      <div class="row no-margin-bot">
        <mz-input-container class="col s12">
          <input mz-input mz-validation required
                 id="input-addsupplierName"
                 formControlName="addsupplierName"
                 type="text"
                 [errorMessageResource]="errorMessages.supplierName"
                 [label]="'Name'"/>
        </mz-input-container>
        <mz-input-container class="col s12">
          <input mz-input mz-validation required
                 id="input-addsupplierContact"
                 formControlName="addsupplierContact"
                 type="text"
                 [errorMessageResource]="errorMessages.supplierContact"
                 [label]="'Contact Number'"/>
        </mz-input-container>
        <mz-input-container class="col s12">
          <input mz-input mz-validation required
                 id="input-addsupplierAddress"
                 formControlName="addsupplierAddress"
                 type="text"
                 [errorMessageResource]="errorMessages.supplierAddress"
                 [label]="'Address'"/>
        </mz-input-container>
        <div class="col s12">
        <button style="width: 100%" class="crimson" type="submit" [disabled]="!addSupplierForm.valid" mz-button>Add Supplier</button>
      </div>
      </div>
    </div>
  </form>
</div>


<div id="editSupplierModal" class="modal">
  <form [formGroup]="editSupplierForm" (ngSubmit)="editSupplier()" novalidate>
    <div class="modal-content">
      <div class="row">
        <div class="col s6">
          <h4>Edit Supplier Info</h4>
        </div>
        <div class="col s6 right-align">
          <a class="modal-close crimson-black-text" (click)="resetForm()">
            <i mz-icon-mdi
               [align]="'center'"
               [icon]="'close'"
               [size]="'24px'"></i>
          </a>
        </div>
      </div>
      <div class="row no-margin-bot">
        <mz-input-container class="col s12">
          <input mz-input mz-validation required
                 id="input-supplierName"
                 formControlName="supplierName"
                 type="text"
                 [errorMessageResource]="errorMessages.supplierName"
                 [label]="'Name'"/>
        </mz-input-container>
        <mz-input-container class="col s12">
          <input mz-input mz-validation required
                 id="input-supplierContact"
                 formControlName="supplierContact"
                 type="text"
                 [errorMessageResource]="errorMessages.supplierContact"
                 [label]="'Contact Number'"/>
        </mz-input-container>
        <mz-input-container class="col s12">
        <input mz-input mz-validation required
               id="input-supplierAddress"
               formControlName="supplierAddress"
               type="text"
               [errorMessageResource]="errorMessages.supplierAddress"
               [label]="'Address'"/>
      </mz-input-container>
        <div class="col s12">
          <button style="width: 100%" class="crimson" type="submit" [disabled]="!editSupplierForm.valid" mz-button>Update</button>
        </div>
      </div>
    </div>
  </form>
</div>

