<div class="navbar-fixed" id="homeNav">
  <mz-navbar id="welcome" navbarClass="container z-depth-0">
    <a routerLink="/" [ngx-scroll-to]="'#welcome'" class="brand-logo">In N Out</a>
    <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item>
        <a routerLink="/" [ngx-scroll-to]="'#welcome'">Welcome</a>
      </mz-navbar-item>
      <mz-navbar-item>
        <a routerLink="/" [ngx-scroll-to]="'#recommended'" [ngx-scroll-to-offset]="-50">Recommended</a>
      </mz-navbar-item>
      <mz-navbar-item>
        <a routerLink="/" [ngx-scroll-to]="'#new'" [ngx-scroll-to-offset]="-50">What's New</a>
      </mz-navbar-item>
      <mz-navbar-item>
        <a routerLink="/" [ngx-scroll-to]="'#about'" [ngx-scroll-to-offset]="-50">about us</a>
      </mz-navbar-item>
      <mz-navbar-item>
        <span class="nav-divider">|</span>
      </mz-navbar-item>
      <mz-navbar-item *ngIf="!user">
        <a class="waves-effect waves-light btn modal-trigger crimson nav-a" href="#loginModal">SIGN IN</a>
      </mz-navbar-item>
      <mz-navbar-item *ngIf="!user">
        <a routerLink="/signup" class="white-text btn-flat waves-effect waves-light nav-a">OR CREATE AN ACCOUNT</a>
      </mz-navbar-item>
      <mz-navbar-item *ngIf="user">
        <a class="modal-trigger" (click)="viewCart()" href="#cartModal" style="width: 100px">
          <i mz-icon-mdi
             [align]="'left'"
             [icon]="'cart'"
             [size]="'24px'"></i>
          {{cartCount}}
        </a>
      </mz-navbar-item>
      <mz-navbar-item  *ngIf="user">
        <a id="btn-dropdown-user">{{user ? user.username: ''}}</a>
      </mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
</div>
<mz-dropdown *ngIf="user"
  [id]="'dropdown-demo'"
  [align]="'left'"
  [belowOrigin]="true"
  [constrainWidth]="false"
  [dropdownButtonId]="'btn-dropdown-user'"
  [gutter]="true"
  [hover]="false"
  [inDuration]="300"
  [outDuration]="300"
  [stopPropagation]="true"
>
  <mz-dropdown-item><a routerLink="/view-orders">View Orders</a></mz-dropdown-item>
  <mz-dropdown-item><a routerLink="/my-profile">My Profile</a></mz-dropdown-item>
  <mz-dropdown-item><a (click)="signOut()">Log Out</a></mz-dropdown-item>
</mz-dropdown>
<router-outlet></router-outlet>
<div id="loginModal" class="modal signin-modal">
  <app-signin></app-signin>
</div>
<div id="cartModal" class="modal cart-modal">
  <app-cart></app-cart>
</div>
