<div class="section no-pad-bot hero-content">
  <div class="container center">
    <h1 class="header white-text">We Deliver it while still steaming hot!</h1>
  </div>
</div>
<div class="hero-overlay">
  <mz-parallax [height]="200">
    <img src="assets/bg/cart-background.jpg">
  </mz-parallax>
</div>

<div class="container section">
  <div class="col s12 crimson-black-text">
    <a routerLink="/" class="breadcrumb">Home</a>
    <a routerLink="/shop" class="breadcrumb">Shop</a>
    <a routerLink="/checkout" class="breadcrumb">Check Out</a>
  </div>

  <form [formGroup]="cartForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="divider"></div>
    <h5>Order Details</h5>
    <div class="row">
      <div class="input-field col s12">
        <div class="row no-margin-bot cart-header">
          <div class="col s6">
            <h6>Product</h6>
          </div>
          <div class="col s2">
            <h6>Sub Total</h6>
          </div>
          <div class="col s4 center-align">
            <h6>Quantity</h6>
          </div>
        </div>
        <ul class="collection">
          <div class="cart-scroll">
            <li class="collection-item avatar" *ngFor="let cartItem of cart.cartItems">
              <div class="row no-margin-bot">
                <div class="col s6">
                  <img src="assets/product/{{cartItem.product.img_url}}" class="cart-img">
                  <span class="title crimson-text">{{cartItem.product.name}}</span>
                  <p class="checkout-product-desc">
                    {{cartItem.product.description}}
                  </p>
                </div>
                <div class="col s2">
                  <span
                    class="title crimson-text cart-subtotal">¥ {{cartItem.product.price * cartItem.quantity}}</span>
                </div>
                <div class="col s4 right-align cart-options">
                  <button mz-button type="button" class="cart-item-btn" (click)="incrementQTY(cartItem)" [flat]="true">
                    <i mz-icon-mdi
                       [align]="'center'"
                       [icon]="'plus'"
                       [size]="'24px'"></i>
                  </button>
                  <span class="cart-item-count">{{cartItem.quantity}}</span>
                  <button mz-button type="button" class="cart-item-btn" (click)="decrementQTY(cartItem)" [flat]="true">
                    <i mz-icon-mdi
                       [align]="'center'"
                       [icon]="'minus'"
                       [size]="'24px'"></i>
                  </button>
                  <button type="button" mz-button class="cart-item-btn crimson white-text" (click)="removeProduct(cartItem)" style="margin-left: 25px;"
                          [flat]="true">
                    <i mz-icon-mdi
                       [align]="'center'"
                       [icon]="'delete'"
                       [size]="'24px'"></i>
                  </button>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <mz-checkbox-container>
                <span class="crimson-text" style="margin-right: 1rem">
                    <i mz-icon-mdi
                       [align]="'left'"
                       [icon]="'crown'"
                       [size]="'18px'">
                    </i>
                  Redeem Loyalty PTS: ¥ {{user.loyaltyCard.loyaltyPoints}}
              </span>
          <input mz-checkbox
                 id="checkbox-loyalty"
                 [filledIn]="true"
                 formControlName="useLoyalty"
                 type="checkbox" (click)="useLoyaltyTicked()">
        </mz-checkbox-container>
      </div>
      <div class="col s3">
        <h5 class="crimson-text">Total: ¥ {{cart.totalPrice}}</h5>
      </div>
      <div class="col s3">
        <h5 class="crimson-text">QTY: {{cart.totalQTY}}</h5>
      </div>
    </div>
    <div class="divider"></div>
    <h5>Payment Method</h5>
    <div class="row">
      <div class="col s6">
        <mz-radio-button-container>
          <input mz-radio-button
                 [label]="'Cash On Delivery'"
                 [withGap]="true"
                 id="radio-button-cod"
                 formControlName="paymentMethod"
                 value="cod"
                 type="radio">
        </mz-radio-button-container>
      </div>
      <div class="col s6" >
        <mz-radio-button-container>
          <input mz-radio-button mz-validation
                 [label]="'Use Wallet Points'"
                 [withGap]="true"
                 id="radio-button-cart"
                 formControlName="paymentMethod"
                 value="wallet"
                 [formControlDisabled]="user.loyaltyCard.loadPoints<cart.totalPrice"
                 type="radio">
        </mz-radio-button-container>
        <span><i mz-icon-mdi
                 [align]="'left'"
                 [icon]="'wallet'"
                 [size]="'18px'">
        </i>Wallet: ¥ {{user.loyaltyCard.loadPoints}} <span class="grey-text" *ngIf="user.loyaltyCard.loadPoints<cart.totalPrice"> (You don't have enough wallet points to used.)</span></span>
      </div>
    </div>
    <div class="divider"></div>
    <h5>Information</h5>
    <div class="row no-margin-bot">
      <div class="col s6">
        <mz-input-container>
          <i mz-icon-mdi mz-input-prefix
             [icon]="'email'">
          </i>
          <input mz-input mz-validation
                 [label]="'Email'"
                 required
                 formControlName="email"
                 [errorMessageResource]="errorMessages.email"
                 [validate]="true"
                 id="email-input"
                 [value]="user.email">
        </mz-input-container>
      </div>
      <div class="col s6">
        <mz-input-container>
          <i mz-icon-mdi mz-input-prefix
             [icon]="'phone'">
          </i>
          <input mz-input mz-validation
                 [label]="'Contact Number'"
                 required
                 formControlName="contactNumber"
                 [errorMessageResource]="errorMessages.contactNumber"
                 [validate]="true"
                 id="contactNumber-input"
                 [value]="user.contactNumber">
        </mz-input-container>
      </div>
      <div class="col s12">
        <mz-textarea-container>
          <i mz-icon-mdi mz-textarea-prefix
             [icon]="'home'">
          </i>
          <textarea style="max-height: 45px;" mz-textarea mz-validation
                    required
                    [label]="'Address'"
                    formControlName="address"
                    [errorMessageResource]="errorMessages.address"
                    id="address-textarea"
                    [minlength]="10"
                    length="255" [value]="user.address"></textarea>
        </mz-textarea-container>
      </div>
      <div class="col s12">
        <mz-textarea-container>
          <i mz-icon-mdi mz-textarea-prefix
             [icon]="'lead-pencil'">
          </i>
          <textarea style="height:115px; max-height: 115px;" mz-textarea mz-validation
                    [label]="'Remarks'"
                    formControlName="remarks"
                    [errorMessageResource]="errorMessages.remarks"
                    id="remarks-textarea"
                    length="800"></textarea>
        </mz-textarea-container>
      </div>
    </div>
    <div class="row">
      <button mz-button class="crimson" [disabled]="!cartForm.valid" [large]="true" style="width: 100%" type="submit">FINALIZE</button>
      <button mz-button type="button" class="crimson-text previous-step" [flat]="true" style="width: 100%; margin-top: 1rem"
              routerLink="/shop">GO BACK
      </button>
    </div>
  </form>
</div>
<div id="feedbackModal" class="modal feedback-modal">
 <app-feedback></app-feedback>
</div>
