body {
  font-family: "Montserrat", serif;
  color: #191938;
}

nav {
  background-color: transparent;
  box-shadow: 0 0 0 0;
  transition: background-color .3s linear;
}

.spinner-overlay{
  position: absolute;
  left: 45%;
  top: 45%;

}
.nav-divider {
  transition: color .3s;
  padding: 0 15px;
}

nav.scrolled .nav-divider {
  transition: color .3s;
  color: #b71c1c;
}
a.btn-large span{
  line-height: 64px;
}
nav ul a {
  text-transform: uppercase;
}

nav ul a.nav-a {
  margin: 0 5px
}

nav.scrolled ul .btn-flat {
  color: #b71c1c !important;
}

.signin-modal {
  width: 30% !important;
}

nav ul .btn-flat:hover {
  color: #b71c1c !important;
}

nav ul a:not(.nav-a):hover {
  transition: color .3s;
  color: #b71c1c;
  background: transparent;
}

nav.scrolled ul a:not(.nav-a) {
  transition: color .3s;
  color: #b71c1c;
  background: transparent;
}

nav.scrolled .brand-logo {
  transition: color .3s;
  color: #b71c1c;
}

a:hover {
  cursor: pointer;
}

nav.scrolled {
  background-color: #fff !important;
  transition: background-color .3s linear;
}

nav.scrolled ul a:hover {
  transition: color .3s;
  background-color: rgba(0, 0, 0, 0.1);
}

.bold-text {
  font-weight: bold !important;
}


::selection {
  background-color: #b71c1c;
  color: #fff;
}

.no-margin-bot {
  margin-bottom: 0;
}


.promo{
  height: 400px;
}

.promo-img{
  height: 200px;
}

.food-desc{
  font-size: 12px;
}

.swal-button--confirm {
  background-color: #b71c1c;
}

.swal-button--cancel{
  color: #b71c1c;
}

.swal-button:focus:not(.swal-button--cancel), .swal-button:active:not(.swal-button--cancel){
  box-shadow: 0 0 0 0;
  background-color: #b71c1c;
}

.swal-button:focus:not(.swal-button--confirm), .swal-button:active:not(.swal-button--confirm){
  box-shadow: 0 0 0 0;
  background-color: #efefef;
}

.breadcrumb, .breadcrumb::before,  .breadcrumb:last-child {
  font-size: 36px;
  color: #191938;
}

.breadcrumb::before {
  content: "\F142";
  font-family: "Material Design Icons";
  line-height: 56px;
  cursor: default;
}

.breadcrumb:last-child {
  color: #b71c1c;
}

.cart-scroll{
  overflow-y: auto;
  height: 340px;
}

.cart-img{
  position: absolute;
  width: 64px;
  height: 64px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.cart-options{
  line-height: 64px;
}

.cart-item-count{
  margin: 0 25px 0 20px;
}

.cart-item-btn{
  padding: 0 10px 0 10px;
}

.collection .collection-item.avatar .title {
  font-weight: bold;
}

.cart-subtotal{
  margin-left: 25px;
  line-height: 64px;
}

.cart-header h6, .cart-info h6{
  font-weight: bold!important;
}

.cart-header{
  padding-left: 100px;
}

.collection .collection-item.avatar {
  padding-left: 100px;
}
input[readonly], textarea[readonly]
{
   cursor: default;
}

i + textarea + label + mz-error-message div.invalid, i + input + label + mz-error-message div.invalid{
  margin-left: 3rem;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
  color: #191938;
}

.hover{
  cursor: pointer;
}


.admin-container {
  margin: 0 auto;
  width: 95%;
}
