<div class="hero-overlay">
  <mz-parallax [height]="300">
    <img src="assets/bg/delivery-background.jpg">
  </mz-parallax>
</div>
<div class="container section">
  <div class="col s12 crimson-black-text">
    <a routerLink="/" class="breadcrumb">Home</a>
    <a routerLink="/view-orders" class="breadcrumb">My Orders</a>
  </div>

  <div class="admin-container section">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="highlight responsive-table">
      <thead>
      <tr>
        <th>ORDER ID</th>
        <th>INVOICE ID</th>
        <th>TOTAL</th>
        <th>STATUS</th>
        <th>ACTION</th>
      </tr>
      </thead>
      <tbody class="order-table">
      <tr *ngFor="let invoice of invoiceList">
        <td width="20%">{{invoice.order.id}}</td>
        <td width="20%">{{invoice.id}}</td>
        <td width="20%">{{invoice.total}}</td>
        <td>{{invoice.order.status}}</td>
        <td>
          <button mz-button type="button" class="cart-item-btn crimson-text"
                  (click)="viewOrderItems(invoice)"  [flat]="true">VIEW ORDER
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="viewOrderModal" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s6">
        <h4>My Order List</h4>
      </div>
      <div class="col s6 right-align">
        <a class="modal-close crimson-black-text">
          <i mz-icon-mdi
             [align]="'center'"
             [icon]="'close'"
             [size]="'24px'"></i>
        </a>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row no-margin-bot cart-header">
      <div class="col s6">
        <h6>Product</h6>
      </div>
      <div class="col s2">
        <h6>Price</h6>
      </div>
      <div class="col s2">
        <h6>Quantity</h6>
      </div>
      <div class="col s2">
        <h6>Sub Total</h6>
      </div>
      <ul class="collection">
        <div class="cart-scroll">
          <li class="collection-item avatar" *ngFor="let item of orderItem">
            <div class="row no-margin-bot">
              <div class="col s6">
                <img src="assets/product/{{item.product.img_url}}" class="cart-img">
                <span class="title crimson-text">{{item.product.name}}</span>
                <p class="cart-item-desc">
                  {{item.product.description}}
                </p>
              </div>
              <div class="col s2">
                <span class="title crimson-text cart-subtotal">¥ {{item.product.price}}</span>
              </div>
              <div class="col s2">
                <span class="title crimson-text cart-subtotal">{{item.quantity}}</span>
              </div>
              <div class="col s2">
                <span
                  class="title crimson-text cart-subtotal">¥ {{computeSubTotal(item.product.price, item.quantity)}}</span>
              </div>
            </div>
          </li>
        </div>
      </ul>
      <div class="row">
        <div class="col s5">
          <h5 class="crimson-text">Total: </h5>
        </div>
        <div class="col s3">
          <h5 class="crimson-text right-align">¥ {{total}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
