<form [formGroup]="loadForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="modal-content">
    <div class="row">
      <div class="col s6">
        <h4>Load Wallet</h4>
      </div>
      <div class="col s6 right-align">
        <a class="modal-close crimson-black-text" (click)="resetForm()">
          <i mz-icon-mdi
             [align]="'center'"
             [icon]="'close'"
             [size]="'24px'"></i>
        </a>
      </div>
    </div>
    <div class="row no-margin-bot">
      <mz-input-container class="col s12">
        <input style="text-transform:uppercase" mz-input mz-validation required
               id="input-usernameOrEmail"
               formControlName="loadValue"
               type="text"
               [errorMessageResource]="errorMessageResources.loadValue"
               [placeholder]="'Enter a valid code. Ex: INNOUT100'"
               [label]="'Code'"/>
      </mz-input-container>
      <div class="col s12">
        <button style="width: 100%" class="crimson" [large]="true" type="submit" [disabled]="!loadForm.valid" mz-button>
          SUBMIT
        </button>
        <button style="width: 100%; margin-top: 0.2rem;" class="modal-close crimson-text" [flat]="true" [large]="true"
                type="button" (click)="resetForm()" mz-button>CANCEL
        </button>
      </div>
    </div>
  </div>
</form>
